<div class="jumbotron bg-white">
    <h1 class="display-4" style="text-align: center;">Covid 19 Tracker</h1>
<hr>

<div class="row">
    <div class="form group col-md-12" style="color: #8ACA2B; text-align: center;" >
    <h2>Coronavirus pandemic: Tracking the global outbreak</h2>
</div>
</div>
<hr>
<div class="row">
    <h5 style="text-align: center;">The coronavirus COVID-19 is affecting 210 countries and territories around the world and 2 international conveyances. 
        The day is reset after midnight GMT+0. 
        The list of countries and territories and their continental regional classification is based on the United Nations Geoscheme. 
        Sources are provided under "Latest Updates".</h5>
</div>
<div class="row">

    <div class="card col-md-3" style="background-color: #a18400d3;color: white; text-align: center;" >
<div class="green statistic">   
  <h2>Confirmed</h2>     
  <div class="value" style="text-align: center;">
        {{totalConfirmed}}
      </div>
  </div>
</div>

<div class="card col-md-3" style="background-color: rgb(228, 69, 29);color: white; text-align: center;" >
    <div class="green statistic" >
       
         <h2> Deaths</h2>  
         
         <div class="value" style="text-align: center;">
          {{totalDeaths}}
        </div>
        
      </div>
    </div>

    <div class="card col-md-3" style="background-color: #8ACA2B;color: white; text-align: center;" >
        <div class="green statistic">
            <h2> Recovered</h2>              
            <div class="value" style="text-align: center;">
              {{totalRecovered}}
            </div>
            
          </div>
        </div>
        <div class="card col-md-3" style="background-color: rgba(62, 105, 221, 0.904);color: white; text-align: center;" >
            <div class="green statistic">
                <h2> Active</h2>              
                
                <div class="value" style="text-align: center;">
                  {{totalActive}}
                </div>
                
              </div>
            </div>
</div>
<div class="row">
    <div class="form group col-md-12" style="color: rgb(140, 143, 136); text-align: center;" >
        <div class="form group col-md-12">
            <hr>
        <p style="text-align: center;">  © Chethan C</p>
    </div>
</div>
</div>
